<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!--

    <description>mtom.hello</description>
    <display-name>mtom.hello</display-name>
        -->
    <servlet>
        <!--
        <description>Metro endpoint - mtom.hello</description>
        <display-name>Mtom</display-name>
        -->
        <servlet-name>services</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>services</servlet-name>
        <url-pattern>/services/*</url-pattern>
        <!--
        <url-pattern>/mtomsample</url-pattern>
        -->
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    
<!--
http://www.jroller.com/gmazza/entry/metro_and_wstrust

    <listener>
        <listener-class>
             com.sun.xml.ws.transport.http.servlet.WSServletContextListener
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>com.mycompany.webservice.sts.DoubleItSTS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>com.sun.xml.ws.mex.server.MEXEndpoint</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.mycompany.webservice.sts.DoubleItSTS</servlet-name>
        <url-pattern>/DoubleItSTSService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.sun.xml.ws.mex.server.MEXEndpoint</servlet-name>
        <url-pattern>/DoubleItSTSService/mex</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

-->
    
</web-app>
